footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to left, #8e9aaf, #e6beae, #ebdbd2);
  img {
    width: 11.25rem;
  }
}

