header {
  background: $gradientbg;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  img {
    width: 12.5rem;
  }
}

button.navbar-toggler {
  color: #70798a;
  background-color: white;
  border: solid 0.188rem;
}

a.nav-link {
  color: white !important;
}

a.nav-link:hover {
  color: #70798a !important;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  border: 0.13rem solid white;
  background-color: #8e9aaf;
  padding: 0.625rem;
  border-radius: 1.875rem;
  text-align: center;
}

.nav-link:hover {
  background-color: white;
  border-color: #8e9aaf;
  transition: 1.5s;
}

@media (max-width: 768px) {
  header img {
    width: 9rem;
  }
}
