$gradientbg: linear-gradient(to right, #8e9aaf, #e6beae, #ebdbd2);
$bodybg: rgb(244, 234, 250);
$colorh1: white;
$colorh2: white;
$colorh3: #8e9aaf;
$colorbg: #ebdbd2;
$titlebackground: #8e9aaf;
$fontfamily: "Lato", sans-serif;
$primary: #8e9aaf;

$theme-colors: (
  "primary": $primary,
);

@import "header";
@import "footer";
@import "contacto";

@mixin boxShadow {
  box-shadow: 0px 10px 10px -6px $colorh3;
}

@mixin boxShadowCard {
  box-shadow: 0px 0px 5px 1px $colorh3;
  border-radius: 8px;
  transform: scale(0.9);
  transition: 1.6s;
}

@mixin bgtitulo {
  text-align: center;
  background: $titlebackground;
  padding: 0.625rem;
}

body {
  background: $bodybg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $fontfamily;
}

header,
section,
footer {
  margin: 0%, 0%;
  width: 100%;
  font-family: $fontfamily;
}

h1 {
  color: $colorh1;
  size: x-large;
  @include bgtitulo;
}

h2 {
  color: $colorh2;
  size: x-large;
  @include bgtitulo;
}

h3 {
  color: $colorh3;
}

p {
  font-size: 1.2rem;
  text-align: center;
}

.negrita {
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
}

li {
  padding: 0.938rem;
}

div.card {
  border-style: none;
  margin: auto;
  margin-bottom: 2em;
}

div.container {
  margin-top: 1.5em;
}

h5.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  align-self: center;
}

#servicios {
  @include boxShadow;
}

#servicios:hover {
  @include boxShadowCard;
}

#carouselInicio {
  margin-top: -0.5rem;
}

#quienSoy {
  width: 50%;
  align-self: center;
  margin-bottom: 2em;
  border-radius: 10px;
  @include boxShadow;
}

#quienSoy:hover {
  opacity: 0.9;
  transition: 1s;
}

#fotoTestimonio {
  width: 9.375rem;
  border-radius: 6.25rem;
  @include boxShadow;
}

@media (min-width: 768px) {
  #copyright {
    font-size: large;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #quienSoy {
    width: 90%;
  }

  p {
    font-size: 1rem;
  }

  #copyright {
    font-size: small;
    text-align: center;
  }

  .redSocial {
    width: 1.8rem;
    margin: 0.4em;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
